.header {
    position: relative;
    width: 100%;
    min-height: 40px;
}

ion-title {
    font-weight: normal;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(34, 34, 34, 1);
    line-height: 22px;
}

.arrow {
    position: absolute;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 22px;
    color: #101010;
}

ion-toolbar {
    --min-height: 40px;
    --border-color: transparent;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
}
