/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~photoswipe/dist/photoswipe.css";
@import "~photoswipe/dist/default-skin/default-skin.css";

@import "./styles/modal.scss";
@import "./styles/button.scss";

ion-row {
    --ion-grid-column-padding: 0;
}

ion-grid {
    --ion-grid-padding: 0;
}

ion-list-header {
    text-transform: none;
}

ion-title {
    text-align: center;
    // --background: linear-gradient(180deg, #ff9f51 0%, #fe7524 100%);
}

ion-item {
    --padding-top: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
}

ion-segment-button {
    text-transform: none;
    --color-checked: #f16b02;
    --indicator-color: #f16b02;
    --border-color: transparent;
    --background: transparent;
    --background-hover: transparent;
    --background-focused: transparent;
    --background-activated: transparent;
    --background-checked: transparent;
}

ion-select-option {
    text-align: center;
    padding-left: 20px;
}

ion-datetime {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
}

.nav {
    // background: linear-gradient(180deg, #ff9f51 0%, #fe7524 100%);
}

.theme_color {
    color: #fa8c16;
}

.red_star {
    color: #bb474b;
    font-weight: bold;
    font-size: 1.2em;
}

.title {
    font-size: 1.1em;
}

.subtitle {
    font-size: 0.9em;
}

.ios_statusbar {
    top: 20px !important;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.central_cont {
    position: fixed;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.side_25 {
    margin-left: 25px;
    margin-right: 25px;
}
